<center>
    <h5 class="head mt-4">Our packages</h5>
<div class="my-4" style="border:1px solid brown; padding:10px; height:auto;width:100%; border-radius:14px;
background-color:bisque; box-shadow:5px 5px 5px brown;">
    <div class="row">
        <div class="col-5">
            <i class="fa fa-"></i>
        </div>

        <div class="col-7">
    <i>Bronze</i>
        </div>
    </div></div>


<div class="my-4" style="border:1px solid silver; padding:10px; height:auto;width:100%; border-radius:14px;
 box-shadow:5px 5px 5px silver;">
    <div class="row">
        <div class="col-5">
            <i class="fa fa-"></i>
        </div>

        <div class="col-7">
    <i>Silver</i>
        </div>
    </div></div>



<div class="my-4" style="border:1px solid goldenrod; padding:10px; height:auto;width:100%; border-radius:14px;
 background-color:gold; box-shadow:5px 5px 5px darkgoldenrod;">
    <div class="row">
        <div class="col-5">
            <i class="fa fa-"></i>
        </div>

        <div class="col-7">
    <b>Gold</b>
        </div>
    </div></div>


<div class="my-4" style="border:1px solid :#A2FFDC; padding:10px; height:auto;width:100%; border-radius:14px;
 background-color:#A2FFDC; box-shadow:5px 5px 5px cadetblue;">
    <div class="row">
        <div class="col-5">
            <i class="fa fa-"></i>
        </div>

        <div class="col-7">
    <b>Platinum</b>
        </div>
    </div></div>
</center>
